body {
    margin: 0;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.text{
    font-family: "Arial";   
}
.main-titles{
    font-size: 30px;
    font-weight: 400;
    color: #445161;
    letter-spacing: normal;
    line-height: 36px;
    margin: 0 0 20px 0;
}
.text-p{
    color: #333333; 
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    font-style: normal;
    margin: 0 0 20px 0;
}
.text-p:last-child {
    margin: 0;
    }
/* First block/header */
.top{
    height: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
}
.header-class{
    background-color: #445161;
    color: white;
    }
.heading-title{
    font-size: 60px;
    margin: 0 0 10px 0;
    font-weight: 400;
    line-height: 1.2;
}
.info-top{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
.white-box{
    margin: 0;
    display: block;
    }
.info-top>*:before{
    content: url(../img/check-sign.png);
    margin-right: 10px;    
}
/* Second block */
.product-info-main{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
}
.product-info-section-content{
    max-width: 649px;
}
/* Third block */
.advanatges-info-main{
    background: #f5f5f5; 
    padding: 50px 50px 30px 50px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.blue-box{
    margin: 0;
    object-fit: cover;
}
.advanatges-info-title{
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}
.advanatges-info-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.advanatges-desc{
    max-width: 526px;
    outline: 0;   
}
.advanatges-desc::-webkit-details-marker {
    display:none;
}
.advanatges-details{
    margin: 0 0 20px 0;
    padding: 0 0 0 45px;
    box-sizing: border-box;
    position: relative;
}
.advanatges-details:before{
    content:"";
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url(../img/plus.PNG);
    background-repeat: no-repeat;
}
/* Fourth block */
.screenshots-main{
    box-sizing: border-box;
    margin: 0;
    padding: 50px 50px 30px 50px;
}
.screenshots-title{
    text-align: center;
    margin: 0 0 35px 0;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-card{
    display: flex;  
    margin: 0 0 20px 0;
}
.product-card-desc{
    margin: 0;
}
.product-text{
    max-width: 359px;
    margin: 0;

}
.product-card-img{
    margin: 0 15px 0 0;
}
.desc{
    margin: 0 0 10px 0;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    font-family: "Arial";
}
/* Fifth block */
.reviews-main{
    background: #f5f5f5;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 50px 30px 50px;
}
.reviews-title{
    text-align: center;
    margin: 0 0 30px 0;
}

.reviews-content{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
}
.message-card{
    display: flex;
    margin: 0 0 20px 0;
}
.message-text{
    max-width: 436px;
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    font-weight: 400;
    background-color: #ccc;
    border-radius: 10px;
    margin: 0 0 10px 15px;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    font-style: italic;
}
.message-text:before {
    content: "";
    border: 15px solid transparent;	
    border-right: 15px solid #ccc;   
    position: absolute;
    top: 20px;
    left: -30px;
  }
  .blue-circle{
    padding: 0 30px 0 0;
  }
.sign{
    color: #989898;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    display: block;
    text-align: left;
    width: 100%;
}
/* Sixth block */
.buy-main{
    box-sizing: border-box;
    margin: 0;
    padding: 50px 50px 30px 50px;
}
.costs{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
}
.cost-card{  
    background-color: #445162;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    border: 3px solid #445162;
}
.cost-card:first-child{
    background-size: 300px 306px;
}
.cost-card:nth-child(2){
    background-size: 300px 404px;
}
.cost-card:last-child{
    background-size: 300px 499px;
}
.type-cost{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
}
.buy-title{
    text-align: center;  
    margin: 0;
}
.cost-list{
    color: #ffffff;
    line-height: 24px;
    text-align: left;
    width: 242px;
    margin: 0 0 15px 0;
    font-size: 14px;
    margin: 19px 0 19px 0;
}
.price{
    color: #445162;
    font-size: 40px;
    background-color: #fff;
    margin: 0 0 10px 0;
    padding: 18px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.btn{
    text-transform: uppercase;
    word-break: break-all;
    font-size: 18px;
    line-height: 35px;
    font-weight: normal;
    color: #445161;
    background:#ffffff;;
    border-radius: 5px;
    text-align: center;
    width: 260px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    outline: none;
}
    .btn:hover {
    background-color: #ccc;
    color: #fff;
  }
  
  .btn:active {
    background-color: #fff;
    color: #000;
  }
/* Seventh block/footer */
.footer{
    background-color: #445162; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;  
    width: 100%;
}
.footer-title{
    color:#ffffff;
    text-align: center;
    font-size: 30px;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
}
.footer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;    
}
.footer-form input[type="text"], .footer-form input[type="email"], .footer-form textarea {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  text-transform: capitalize;
}

.footer-form .form-input:hover,
.footer-form textarea:hover {
  background-color: gray;
  color: white;
  border-color: white;
}

.footer-form .form-input:hover::placeholder,
.footer-form .form-input:hover::placeholder,
.footer-form .form-input-text:hover::placeholder {
  color: white;
}

.footer-form .form-input-text {
  width: 500px;
  height: 170px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
}

.form-input[placeholder],
.form-input-text[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color: #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
} 
.btn-send{
    text-transform: uppercase;
    word-break: break-all;
    color: #445161;
    background:#ffffff;;
    border-radius: 5px;
    text-align: center;
    width: 140px;
    height: 40px;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    outline: none;
}
.btn-send:hover {
    background-color: #ccc;
    color: #fff;
  }
.btn-send:active {
    background-color: #fff;
    color: #000;
  }
.contacts-list{
    list-style-type: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
    
  }
.contact{
    margin: 0 0 20px 0;
}
.contact-info{
    width: 350px;
}
.contact-1:before{
    content: url(../img/skype_icon.png);
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;

}
.contact-2:before{
    content: url(../img/icq_icon.png);
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;   
}
.contact-3:before{
    content: url(../img/email_icon.png);
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;   
}
.contact-4:before{
    content: url(../img/phone_icon.png);
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;  
}
/* .social-icons{
    width: 100%;
    display: flex;
}
.social{
    display: block;
    width: 42px;
    height: 42px;
    background-image: url('../img/social_buttons.png');
    background-repeat: no-repeat;
    
}
.social:first-child {
    background-position: 0 0;
    /* margin-right: 5px;   */
/* } */
  
/* .social:nth-child(2) {
    background-position: -42px 0;
  }
  
.social:nth-child(3) {
    background-position: -84px 0;
  }
  
.social:nth-child(4) {
    background-position: -126px 0;
  }
.social:nth-child(5) {
    background-position: -168px 0; 
    margin-right: 5px;   
} */
.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}
.social-icons .icon {
    display: inline-block;
}
.social-icons .icon-link {
    background-image: url('../img/social_buttons.png');
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    float: left;
    padding: 0;
}
.twitter {
    background-position: -1px 0; /* Obviously, this is obsolete to use here, but it illustrates the fact the twitter image is the first image */
    margin: 0 5px 0 0;
}

.facebook {
    background-position: -50px 0;
    margin: 0 5px 0 0;
}

.instagram {
    background-position: -99px 0;
    margin: 0 5px 0 0;
}

.gmail {
    background-position: -149px 0;
    margin: 0 5px 0 0;
}

.youtube {
    background-position: -198px 0;
    margin: 0 5px 0 0;
}
.copyright{
    text-align: center;
    font-size: 12px;
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;
}